@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Caveat:wght@700&family=Courgette&family=Croissant+One&family=DM+Serif+Display:ital@1&family=Dancing+Script&family=EB+Garamond&family=Frijole&family=Great+Vibes&family=Lobster&family=Lora:ital@1&family=Mooli&family=Oswald:wght@300&family=Pacifico&family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@0,700;0,800;1,600;1,700&family=Roboto+Slab:wght@300;400&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: EB Garamond;
}